@import "tailwindcss";





/* contact page  */

.sectionOne{
  background: url(../public/photos/contact-bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.GreadianColor{
  background: url(../public/photos/contact-sectionOne-gredian-color.png);
  background-size: cover;
  background-position: center;
}

/* contact page  */